name: Android CI

on:
  push:
    branches: [ "develop_android" ]
  pull_request:
    branches: [ "develop_android" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: cd client 
      run : cd client
    - run : ls gradlew 
    - uses: actions/checkout@v3
    - name: set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
